<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h3>Books</h3>
  <ul class="books">
    <li *ngFor="let book of books">
      <span>{{book.isbn}}</span>
      <span>{{book.title}}</span>
    </li>
  </ul>
  <div>
    <label>Publisher: </label>
    <input [(ngModel)]="publisher" placeholder="book" />
    <button
      type="submit"
      (click)="getUnknownUrl()"
      class="btn btn-success btn-block"
    >
      Submit
    </button>
    <div><label>Publisher: </label>{{publisher}}</div>
  </div>
</div>
